.all {
    display: inline-block;
    background-color: darkred;
    border: solid 1px;
}

.cube{
    width: 70px;
    height: 70px;
    background-color: #66320E;
    border: solid 2px;
    float: left;
}

#cube5{
    clear: left;
}
.bottum{
margin-top: 4px;
}

#cube8{
    background-color: black;
}