.top{
 position: relative;
 background-color: rgb(3, 22, 104);
 width: 100%;
 height: 50px;
 color: white;
 text-align: left;
}
a:hover{
  text-decoration: none;
}
a{
    text-decoration:none;
         font-weight:120%;
         font-size: 30px;
                  color: white;
     font-family: Arial;      
       cursor: pointer;
    }
